@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
body {
    padding: 5rem;
    font-family: 'Lato', Arial, sans-serif;
    color: #6b6b6b;
    font-size: 17px;
    line-height: 1.6;
}

.dark_mode {
    background-color: black;
    color: white;
}

.hero {
    position: relative;
    height: 60vh;
    z-index: -2;
    background: url("https://unsplash.it/2000/800?image=563") center top/cover no-repeat;
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0, 0.6);
}

.main-content {
    background: #f2f2f2;
}

section {
    background: #fff;
    padding: 4rem 0 7rem;
}

section::nth-child(even) {
    background: #f5f5f5;
}

h2,
h3 {
    padding: 2rem 0 0.75rem;
    font-weight: 700;
    color: #4b4b4b;
}

.navbar {
    border: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.navbar-brand {
    font-size: 2.25rem;
    font-weight: 900;
    color: #4b4b4b;
}

.navbar--size-xl {
    padding: 4rem 0;
}

.navbar--size-lg {
    padding: 2rem 0;
}

.navbar--size-md {
    padding: 1rem 0;
}

.navbar_size_sm {
    padding: 0;
}

.navbar_color_white {
    background: #fff;
}

.navbar_color_primary {
    background: #37ca7e;
}

.navbar--color--secondary {
    background: #43a6dd;
}

.navbar_color_ghost {
    background: rgba(0, 0, 0, 0, 0.2);
}

.navbar_color_ghost .navbar_font,
.navbar_color_ghost .navbar-text,
.navbar_color_ghost a {
    color: #fff;
}

.navbar_light {
    background-color: #e3f2fd;
}

button {
    font-size: 32px;
    font-weight: 600px;
    color: white;
    background-color: blue;
    border-radius: 9px;
    padding: 15px 60px;
    text-align: center;
    margin: 5px;
    display: block;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

#section-1-gradient {
    background: #076DFF;
    background-image: linear-gradient(rgb(33, 92, 252), #076DFF, rgb(116, 65, 255));
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    contain: "";
}

* {
    box-sizing: border-box;
}

div.leftSide-col {
    margin-left: 20%;
}

div.rightSide-col {
    margin-left: 15%;
}

h1.large {
    color: white;
    font-size: 56px;
    margin-left: 0;
    line-height: 70px;
}

input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 8px;
}

input.pass_input {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 8px;
}

form h2 {
    color: white;
}

.iframe_class {
    max-width: 560px;
    width: 100%;
    position: relative;
    height: 315px;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
}

input[type="text"] {
    width: 350px;
}

input[type="password"] {
    width: 350px;
}

div.bnt {
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.section-2-header {
    font-size: 65px;
    text-align: center;
}

div.box {
    text-align: center;
    margin: 20px 20px 5px 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px 0 rgba(0, 0, 0, .1);
}

div.icon {
    width: auto;
}

button.learnMore {
    display: block;
    margin: auto;
}

div.slopeIcon img {
    display: block;
    margin: auto;
    width: 100%;
    padding: 20px;
    box-shadow: -2px -2px 5px 2px, rgba(0, 0, 0, .15), 2px 2px 4px 2px rgba(0, 0, 0, 1);
}

footer.foot-1 {
    background-color: #666;
    padding-left: 10%;
}

footer.foot-1 h1 {
    color: #fff;
    font-size: 35px;
}

footer.foot-1 ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.foot-1 ul li {
    color: #fff;
    font-size: 22px;
    line-height: 1.4;
}


/* #### MOBILE #### */

@media screen and (max-width: 600px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    ul.topnav li.dropdownicon {
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownicon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    h1.section-2-header {
        font-size: 50px;
    }
    .col-6,
    .col-4,
    .col-5,
    .col-7,
    .col-3 {
        width: 100%;
        margin: 0;
    }
    .div.box {
        padding: 5px;
        display: block;
    }
    div.slopeIcon {
        margin: 10px;
    }
    div.leftSide-col,
    div.rightSide-col {
        margin: 15px;
    }
    article p {
        font-size: 25px;
    }
    div.slopeIcon img {
        width: 100%;
    }
}